div {
  background-color: lightgrey;
  width: 98%;
  padding: 5px;
  overflow: auto;
  margin: auto;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}